* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.4px;
}

body {
    background-image: url("../IMG/couverts-dores-textile-plaque-fond-sombre-vue-dessus.jpg");
    background-size: cover;
}

.container {
    background-color: #111;
    width: 450px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.label {
    font-size: 16px;
    color: #ddd;
    font-weight: 400;
}

.valeur {
    color: #ddd;
    font-weight: 500;
    font-size: 18px;
}

.saisie {
    background-color: #555;
    color: #ddd;
    padding: 5px;
}

#montant {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: #ddd;
}

hr {
    border: none;
    border-bottom: 1px solid #333;
}

input[type="range"] {
    width: 100%;
    cursor: pointer;
}

input[type="range"]:not(:last-child) {
    margin-bottom: 5px;
}

section:not(:last-child) {
    margin-bottom: 40px;
}

section:not(:first-child) {
    margin-top: 40px;
}

section:last-child {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

section:last-child .val,
section:last-child .lbl {
    color: #bbb;
}
